<p class="lede">
  <% order = Spree::Order.find(@reimbursement.order_id) %>
  <%= Spree.t('reimbursement_mailer.reimbursement_email.dear_customer') %> <%= order.bill_address ? order.bill_address.firstname : '' %>,
</p>
<p>
  <%= Spree.t('reimbursement_mailer.reimbursement_email.instructions') %>
</p>
<p style="border-bottom: 4px grey double;">
  <%= Spree.t('reimbursement_mailer.reimbursement_email.refund_summary') %>
</p>
<% if !@reimbursement.return_items.exchange_requested.present? %>
  <p>
    <%== Spree.t('reimbursement_mailer.reimbursement_email.explanation', href: link_to(Spree.t('reimbursement_mailer.reimbursement_email.lekarnar_com'), "http://www.lekarnar.com")) %>
  </p>
  <p>
    <%= Spree.t('reimbursement_mailer.reimbursement_email.total_refunded', total: @reimbursement.display_total) %>
  </p>
<% end %>

<% if @reimbursement.return_items.exchange_requested.present? %>

  <p>
    <%= Spree.t('reimbursement_mailer.reimbursement_email.exchange_summary') %>
  </p>

  <table>
    <tbody>
      <tr>
        <th>Sku</th>
        <th><%= Spree.t(:item_description) %></th>
      </tr>
      <% @reimbursement.return_items.exchange_requested.each do |return_item| %>
        <tr>
          <td class="six sub-columns">
            <%= return_item.variant.sku %>
          </td>
          <td>
            <%= link_to raw(return_item.variant.product.name),
                        spree.product_url(return_item.variant.product) %>
          </td>
          <% if return_item.exchange_variant.options_text.present? %>
            <td>
              <%= "(#{raw(return_item.exchange_variant.options_text)})" -%>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


  <% if @reimbursement.return_items.awaiting_return.present? && Spree::Config[:expedited_exchanges] %>
    <p>
    <%= Spree.t('reimbursement_mailer.reimbursement_email.days_to_send', days: Spree::Config[:expedited_exchanges_days_window]) %>
    </p>
  <% end %>

<% end %>
<p>
  <%= Spree.t('reimbursement_mailer.reimbursement_email.thanks') %>
</p>
