<p class="customer">
  <%= Spree.t(:dear_customer, :default => "Dear %{name},", :name => @order.bill_address ? @order.bill_address.full_name : 'Customer' ) %>
</p>
<p class="overview">
  Vaše naročilo je <b>STORNIRANO</b>.
</p>
<p class="link">
  Celotno naročilo si lahko ogledate tukaj:
  <%= link_to(order_url(@order, :host => Spree::Store.current.url), order_url(@order, :host => Spree::Store.current.url)) %>
</p>
<h2>
  <%= Spree.t("order_summary_canceld") %>
</h2>
<%= render :partial => 'spree/shared/email/order_details', :locals => {:order => @order} %>
<p class="thank-you">
  <%= raw Spree.t("thank_you") %>
</p>
