<% if @order.ship_address.country.name != "Slovenija"  %>
  <% translation = YAML.load_file('config/shipping-eu.yml') %>
<% else %>
  <% translation = YAML.load_file('config/shipping-slo.yml') %>
<% end %>
<p class="customer">
  <%= translation["map"]["dear"] %> <%= @order.bill_address ? @order.bill_address.firstname : ''  %>,
</p>
<p class="overview">

  <%= translation["map"]["thank_you_for_purchase"] %> <a href="http://www.lekarnar.com">www.lekarnar.com</a>.
  <% if @order.shipments.last.shipping_method.name == "Osebni prevzem" %>
    Naši farmacevti bodo pripravili vaše naročilo in vas obvestili, ko bo pripravljeno na prevzem.
  <% else %>
    <%= translation["map"]["pharmacists_prepare_order"] %>
  <% end %>
</p>
<p class="link">
  <%# Spree.t("order_details") %>
  <%= translation["map"]["order_details"] %>
  <%= link_to(order_url(@order, :host => Spree::Store.current.url), order_url(@order, :host => Spree::Store.current.url)) %>
</p>
<h2>
  <%# Spree.t("order_summary") %>
  <%= translation["checkout"]["order_summary"] %>
</h2>
<%= render :partial => 'spree/shared/email/order_details', :locals => {:order => @order} %>
<%#= render :partial => 'spree/shared/email/digitals', :locals => { :order => @order } %>
<p class="thank-you">
  <%# raw Spree.t("thank_you") %>
  <%= raw translation["map"]["thank_you"] %><br>
  <a href="http://www.lekarnar.com">www.lekarnar.com</a>.
</p>
