<p class="customer">
  Zdravo <%= @order.bill_address ? @order.bill_address.firstname : ''  %>,
</p>
<p class="overview">
  Zahvaljujemo se vam za nakup v spletni lekarni <a href="http://www.lekarnar.com">www.lekarnar.com</a>. Naši farmacevti bodo pripravili vaše naročilo in vas obvestili, ko bo poslano.
</p>
<p class="link">
  <%= Spree.t("order_details") %>
  <%= link_to(order_url(@order, :host => Spree::Store.current.url), order_url(@order, :host => Spree::Store.current.url)) %>
</p>
<h2>
  <%= Spree.t("order_summary") %>
</h2>
<%= render :partial => 'spree/shared/email/order_details', :locals => {:order => @order} %>
<%#= render :partial => 'spree/shared/email/digitals', :locals => { :order => @order } %>
<p class="thank-you">
  <%= raw Spree.t("thank_you") %>
</p>
