<p class="customer">
  <%= Spree.t(:dear_customer, :default => "Zdravo %{name},", :name => @shipment.order.bill_address ? @shipment.order.bill_address.firstname : '' ) %>
</p>
<p class="overview">
  Vaše naročilo je <% if @shipment.shipping_method.name == "Osebni prevzem" %> pripravljeno na prevzem<% else %>poslano<% if @shipment.shipping_method.name == "Prevzem na pošti" %>, počakalo vas bo na izbrani pošti<% end %>.<% if @shipment.shipping_method.name == "Prevzem na pošti" %> <span style="background-color: red;">Obvestila o prispeli pošiljki ne boste prejeli.</span><% end %><% end %>
</p>
<%= render :partial => 'spree/shared/email/shipment_tracking', :locals => { :shipment => @shipment, :botttom => false} %>
<br/>
<p class="link">
  Oglejte si naročilo:
  <%= link_to(order_url(@shipment.order, :host => Spree::Store.current.url), order_url(@shipment.order, :host => Spree::Store.current.url)) %>
</p>
<%= render :partial => 'spree/shared/email/shipment_details', :locals => {:shipment => @shipment} %>
<%= render :partial => 'spree/shared/email/shipment_tracking', :locals => { :shipment => @shipment, :botttom => true} %>
<%= render :partial => 'spree/shared/email/digitals', :locals => { :order => @shipment.order } %>
<p class="thank-you">
  <%= raw Spree.t("thank_you") %>
</p>
